@page
@model EKGMaster.Pages.TestpageModel
@{
}
<div class="container border" style="padding:20px">
    <form method="post">
        <h3>Account information</h3>
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <h3>Account information</h3>
        <div class="mb-3">
            <label asp-for="Computer.Description"></label>
            <input type="text" asp-for="Computer.Description" class="form-control" />
            <span class="text-danger" asp-validation-for="Computer.Description"></span>
        </div>
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <h3>Account information</h3>
        <div class="mb-3">
            <label asp-for="Computer.Year"></label>
            <input type="text" asp-for="Computer.Year" class="form-control" />
            <span class="text-danger" asp-validation-for="Computer.Year"></span>
        </div>
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <h3>Account information</h3>
        <div class="mb-3">
            <label asp-for="Computer.Brand"></label>
            <input type="text" asp-for="Computer.Brand" class="form-control" />
            <span class="text-danger" asp-validation-for="Computer.Brand"></span>
        </div>
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <h3>Account information</h3>
        <div class="mb-3">
            <label asp-for="Computer.Model"></label>
            <input type="text" asp-for="Computer.Model" class="form-control" />
            <span class="text-danger" asp-validation-for="Computer.Model"></span>
        </div>
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <h3>Account information</h3>
        <div class="mb-3">
            <label asp-for="Computer.Price"></label>
            <input type="text" asp-for="Computer.Price" class="form-control" />
            <span class="text-danger" asp-validation-for="Computer.Price"></span>
        </div>
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <h3>Account information</h3>
        <div class="mb-3">
            <label asp-for="Computer.Storage"></label>
            <input type="text" asp-for="Computer.Storage" class="form-control" />
            <span class="text-danger" asp-validation-for="Computer.Storage"></span>
        </div>
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <h3>Account information</h3>
        <div class="mb-3">
            <label asp-for="Computer.OperatingSystem"></label>
            <input type="text" asp-for="Computer.OperatingSystem" class="form-control" />
            <span class="text-danger" asp-validation-for="Computer.OperatingSystem"></span>
        </div>
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <h3>Account information</h3>
        <div class="mb-3">
            <label asp-for="Computer.PSU"></label>
            <input type="text" asp-for="Computer.PSU" class="form-control" />
            <span class="text-danger" asp-validation-for="Computer.PSU"></span>
        </div>
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <h3>Account information</h3>
        <div class="mb-3">
            <label asp-for="Computer.RAM"></label>
            <input type="text" asp-for="Computer.RAM" class="form-control" />
            <span class="text-danger" asp-validation-for="Computer.RAM"></span>
        </div>
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <h3>Account information</h3>
        <div class="mb-3">
            <label asp-for="Computer.CPU"></label>
            <input type="text" asp-for="Computer.CPU" class="form-control" />
            <span class="text-danger" asp-validation-for="Computer.CPU"></span>
        </div>
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <h3>Account information</h3>
        <div class="mb-3">
            <label asp-for="Computer.GPU"></label>
            <input type="text" asp-for="Computer.GPU" class="form-control" />
            <span class="text-danger" asp-validation-for="Computer.GPU"></span>
        </div>
        <div class="mb-3">
            <label asp-for="SalesAd.Title"></label>
            <input type="text" asp-for="SalesAd.Title" class="form-control" />
            <span class="text-danger" asp-validation-for="SalesAd.Title"></span>
        </div>
        <div class="mb-3">
            <label asp-for="SalesAd.UserId"></label>
            <input type="text" asp-for="SalesAd.UserId" class="form-control" />
            <span class="text-danger" asp-validation-for="SalesAd.UserId"></span>
        </div>
        <div class="mb-2">
            <input type="submit" class="btn btn-primary" value="Register User" />
        </div>
    </form>
</div>