@page
@model EKGMaster.Pages.AdProduct.CreatePhoneAdModel
@{
}
<div>
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="mb-3">
            <label asp-for="Phone.Description"></label>
            <input type="text" asp-for="Phone.Description" class="form-control" />
            <span class="text-danger" asp-validation-for="Phone.Description"></span>
        </div>
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="mb-3">
            <label asp-for="Phone.Year"></label>
            <input type="text" asp-for="Phone.Year" class="form-control" />
            <span class="text-danger" asp-validation-for="Phone.Year"></span>
        </div>
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="mb-3">
            <label asp-for="Phone.Brand"></label>
            <input type="text" asp-for="Phone.Brand" class="form-control" />
            <span class="text-danger" asp-validation-for="Phone.Brand"></span>
        </div>
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="mb-3">
            <label asp-for="Phone.Model"></label>
            <input type="text" asp-for="Phone.Model" class="form-control" />
            <span class="text-danger" asp-validation-for="Phone.Model"></span>
        </div>
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="mb-3">
            <label asp-for="Phone.Price"></label>
            <input type="text" asp-for="Phone.Price" class="form-control" />
            <span class="text-danger" asp-validation-for="Phone.Price"></span>
        </div>
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="mb-3">
            <label asp-for="Phone.ScreenSize"></label>
            <input type="text" asp-for="Phone.ScreenSize" class="form-control" />
            <span class="text-danger" asp-validation-for="Phone.ScreenSize"></span>
        </div>
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="mb-3">
            <label asp-for="Phone.BatteryHealth"></label>
            <input type="text" asp-for="Phone.BatteryHealth" class="form-control" />
            <span class="text-danger" asp-validation-for="Phone.BatteryHealth"></span>
        </div>
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="mb-2">
            <div class="mb-3">
                <label asp-for="Phone.Storage"></label>
                <input type="text" asp-for="Phone.Storage" class="form-control" />
                <span class="text-danger" asp-validation-for="Phone.Storage"></span>
            </div>
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="mb-3">
                    <label asp-for="Phone.OperatingSystem"></label>
                    <input type="text" asp-for="Phone.OperatingSystem" class="form-control" />
                    <span class="text-danger" asp-validation-for="Phone.OperatingSystem"></span>
                </div>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <input type="submit" class="btn btn-primary" value="Opret annonce" />
        </div>
    </form>
